@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="result"></div>

<script>
    $(function () {
        $.get('/api/shop', function (data) {
            $('#result').empty();
            $.each(data, function (i, v) {
                $('#result').html($('#result').html()+'<a href=storeproduct/'+v.id+'>' + v.name + " " + v.address + " " + v.workingMode+'</a>' + '<br />');
            });
        }, 'json');
    });
</script>



