@page "{id}"
@model StoreProduct
@{
    ViewData["Title"] = "Home page";

}
<div id="result"></div>
<script>
    $(function () {
        $.get('/api/storeproduct/id/@Model.Id', function (data) {
            $('#result').empty();
            $('#result').html($('#result').html() + data.name + '<br /><br />');

            $.each(data.products, function (i, v) {
                $('#result').html($('#result').html() + v.name + '<span class ="delete" data-id=' + v.storeProductId + '>Delete</span><br />');
            });
        }, 'json');
        $('#result').on('click', '.delete', function () {
            $.ajax({
                type: 'Post',
                url: location.origin + '/api/storeproduct/delete/' + $(this).data('id'),
                success: function() {   
                    location.reload();  
                }
            });
        });
    });
</script>



